*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    padding: 30px 50px ;
    background: #000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.active{
    color: orange;
}