*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    padding: 30px 50px ;
    background: #000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.active{
    color: seagreen;
}

section{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    border: 2px solid #f2f2f2;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .01);
}

section h2 {
    margin-bottom: 10px;
    color: navy;
}

section p{
    color: #000500;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    width: 100%;
    padding: 30px 50px;
    background: #000;
    color: #fff;
}
